<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CM_RGB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="LBLDIRECTION" value="" />
    <add key="LBLSPEED" value="" />
    <add key="LBLCOLORMODE" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <CM_RGB.Properties.Settings>
      <setting name="LBL_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="LBL_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LBL_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="LBL_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="LBL_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ALTL_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ALTL_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ALTL_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ALTL_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="ALTL_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SLBL_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="SLBL_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SLBL_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="SLBL_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="SLBL_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SPRL_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="SPRL_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SPRL_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="SPRL_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="SPRL_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WIPE_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="WIPE_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WIPE_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="WIPE_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="WIPE_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BRTH_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="BRTH_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BRTH_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="BRTH_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="BRTH_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RAND_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="RAND_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RAND_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="RAND_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="RAND_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RLINE_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="RLINE_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RLINE_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="RLINE_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="RLINE_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RSQR_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="RSQR_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RSQR_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="RSQR_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="RSQR_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RPATH_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="RPATH_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RPATH_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="RPATH_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="RPATH_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BALL_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="BALL_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BALL_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="BALL_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="BALL_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CCYCL_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CCYCL_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CCYCL_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="CCYCL_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="CCYCL_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VRAIN_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="VRAIN_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VRAIN_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="VRAIN_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="VRAIN_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HRAIN_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="HRAIN_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HRAIN_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="HRAIN_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="HRAIN_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KEYP_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="KEYP_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KEYP_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="KEYP_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="KEYP_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LOCKEFFECT" serializeAs="String">
        <value>TRAIL</value>
      </setting>
      <setting name="TRAIL_SPEED" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="TRAIL_COLOR1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="TRAIL_COLOR2" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="TRAIL_COLORMODE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TRAIL_DIRECTION" serializeAs="String">
        <value>True</value>
      </setting>
    </CM_RGB.Properties.Settings>
  </userSettings>
</configuration>